.container {
    background: transparent !important;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    overflow: hidden;
}

.searchbar {
    //height: 32px;
    .box {
        display: grid;
        justify-items: center;
    }
}

.treeview {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    overflow-x: auto;
    overflow-y: hidden;

    .header {
        flex: 1 1 auto;
    }

    .list {
        width: 100%;
        flex: 1 1 auto;
        position: relative;
        //overflow: hidden;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.loading {
}

:global {
}

