/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import "constants/constants";


html {
    font-family: 'Roboto', sans-serif;
}
div {
    font-size: $fontSize;
}
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

input, button, textarea, * {
    outline: none; /* You should add some other style for :focus to help UX/a11y */
}
body {
    margin: 0;
    background: transparent !important;
}

*, *::after, *::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}
